@model OrdersSystem.Web.ViewModels.InOrders.InOrderInputModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
        <br />
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        <br />
        @Html.LabelFor(m => m.CustomerId)
        @Html.DropDownListFor(m => m.CustomerId, Model.Customers, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.DeviceId)
        @Html.DropDownListFor(m => m.DeviceId, Model.Devices, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.DeviceCount)
        @Html.TextBoxFor(m => m.DeviceCount, new { @class = "form-control", type = "number"})
        @Html.ValidationMessageFor(m => m.DeviceCount, "", new { @class = "text-danger" })
        <br />
        @Html.LabelFor(m => m.EndDate)
        <br />
        @Html.TextBoxFor(m => m.EndDate, new { id = "datepicker"})
        <br />
        <br />
        @Html.LabelFor(m => m.AuthorId)
        @Html.DropDownListFor(m => m.AuthorId, Model.Authors, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.WorkerId)
        @Html.DropDownListFor(m => m.WorkerId, Model.Workers, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Status)
        @Html.EnumDropDownListFor(m => m.Status, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.IsRepair)
        @Html.CheckBoxFor(m => m.IsRepair)
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
}

@section scripts{
    <script>   
        $(document).ready(function() {     
            $("#datepicker").datepicker({ dateFormat: 'dd/mm/yy hh:MM:ss' });
        })
    </script>       
}