@model OrdersSystem.Web.ViewModels.InOrders.InOrderViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
<div>
    <p>
        <strong>Customer: </strong>@Model.Customer.Name
    </p>
    <p>
        <strong>Device: </strong>@Model.Device.Name
    </p>
    <p>
        <strong>Device Count: </strong>@Model.DeviceCount
    </p>
    <p>
        <strong>Description: </strong>@Model.Description
    </p>
    <p>
        <strong>Status: </strong>@Model.Status
    </p>
    <p>
        <strong>Ordered on: </strong>@Model.StartDate.Date.ToString("dd MMM yyyy")
    </p>
    <p>
        <strong>End Date: </strong>@Model.EndDate.Date.ToString("dd MMM yyyy")
    </p>
    <p>
        <strong>Ordered By: </strong>@Model.Author.UserName
    </p>
    <p>
        <strong>Person In Charge: </strong>@Model.Worker.UserName
    </p>
</div>
