@model OrdersSystem.Web.ViewModels.InOrders.InOrderViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
@if (TempData["Success"] != null)
{
    <div class="alert alert-dismissible alert-success notification col-md-3 pull-right">
        <strong>@TempData["Success"]</strong>
    </div>
}

@if (User.IsInRole("Boss"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
}

<div>
    <p>
        <strong>Customer: </strong>@Model.Customer.Name
    </p>
    <p>
        <strong>Device: </strong>@Model.Device.Name
    </p>
    <p>
        <strong>Device Count: </strong>@Model.DeviceCount
    </p>
    <p>
        <strong>Description: </strong>@Model.Description
    </p>
    <p>
        <strong>Status: </strong>@Model.Status
    </p>
    <p>
        <strong>Ordered on: </strong>@Html.DisplayFor(m => m.StartDate)    
    </p>
    <p>
        <strong>End Date: </strong>@Html.DisplayFor(m => m.EndDate)
    </p>
    <p>
        <strong>Ordered By: </strong>@Model.Author.UserName
    </p>
    <p>
        <strong>Person In Charge: </strong>@Model.Worker.UserName
    </p>
</div>
